*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:#050505;
    color:#fff;
}

.hero{
    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    background:linear-gradient(135deg,#050505,#111827);
}

.hero-content{
    width:90%;
    max-width:700px;
}

.hero h1{
    font-size:70px;
    margin-bottom:20px;
    letter-spacing:6px;
}

.hero p{
    font-size:22px;
    color:#cfcfcf;
    margin-bottom:40px;
}

.btn{

    display:inline-block;

    padding:18px 45px;

    background:#2563eb;

    color:white;

    text-decoration:none;

    border-radius:50px;

    transition:.3s;
}

.btn:hover{

    background:#1d4ed8;

    transform:translateY(-4px);
}
